[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/opt/vim-devicons"]
	path = pack/plugins/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/plugins/opt/indentLine"]
	path = pack/plugins/opt/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pack/plugins/start/vim-closetag"]
	path = pack/plugins/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
