[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/opt/vim-devicons"]
	path = pack/plugins/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/plugins/opt/indentLine"]
	path = pack/plugins/opt/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pack/plugins/start/vim-closetag"]
	path = pack/plugins/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "pack/plugins/opt/vim-matchup"]
	path = pack/plugins/opt/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/start/rainbow"]
	path = pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "pack/plugins/start/omnisharp-vim"]
	path = pack/plugins/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
